<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
</head>

<body>

    {{include './_includes/header.html'}}
    <section class="container">
        <ul class="media-list">
            {{each topics}}
            <li class="media">
                <div class="media-left">

                    <a href="/">
                        <img width="40" height="40" class="media-object" src="../public/img/avatar-max-img.png" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a href="/topic/detail/{{$value.id}}">{{$value.title}}</a></h4>
                    <p>{{$value.content}}</p>
                    <p>sueysok 回复了问题 • 2 人关注 • 1 个回复 • 187 次浏览 • 话题创建时间
                    </p>
                </div>
            </li>
            {{/each}}
        </ul>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </section>
    {{include './_includes/footer.html'}}
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
</body>

</html>
<!-- 渲染话题详情
1.点击话题的标题，配置标题连接的路由标识
2.连接数据库，将相应的数据在数据库里找出来
3.将数据利用模板引擎渲染出来，发送给前端页面 -->
