<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/login.css">
</head>

<body>
    <div class="main">
        <div class="header">
            <a href="/">
                <img src="/public/img/logo3.png" alt="">
            </a>
            <h1>用户登录</h1>
        </div>
        <form id="signin_form">
            <div class="form-group">
                <label for="email">邮箱</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" autofocus>
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <a class="pull-right" href="">忘记密码？</a>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">记住我
                </label>
            </div>
            <button type="submit" class="btn btn-success btn-block">登录</button>
        </form>
        <div class="message">
            <p>没有账号? <a href="/signup">点击创建</a>.</p>
        </div>
    </div>
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script>
        // 客户端发送表单提交
        //最终实现的功能分析
        // 客户写出自己的登录信息，点击登录，那么就会将数据提交给后台数据库
        //   1.事件监听，为submit时间注册监听。
        $('#signin_form').on ('submit', function (e) {
            //取消submit 的默认提交事件
            e.preventDefault();
            //获取用户的表单信息
            var formData = $(this).serialize();
            //发送ajax请求，将用户信息传送到后端
            $.post('/signin', formData, function (data) {
                console.log(data);
                // 客户端根据不同的状态返回不同的信息
                if(data.code === 200) {
                    window.location.href = '/';
                }else{
                    alert(data.msg);
                }

            })

        })




    </script>
</body>

</html>